.box {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 10px solid rgb(109, 12, 12);
    border-radius: 0.4rm;
    background-color: rgb(29, 192, 225);
    color: yellowgreen;
    font-size: 4rem;
    flex: 1;
    display: flex;
    gap: 0 2rem;
    justify-content: center;
    align-content: center;

}
.box p, button {
    font-size: 4rem;
}
.boxes {
    height: calc(100vh);
    position: relative;

    display: grid;
    justify-content: flex-start;
    gap: 2rem 5 rem;

    grid-template-columns: 3fr 1fr 1fr;
    /* grid-template-rows: minmax(150px 1fr) 2fr; */
}
