* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
body{
    font-family: 'Arial';
    font-size: 1.8 rem;
}
main {
    /*padding: 7rem 0;*/
}

h1{
    color: blueviolet;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    font-size: 4.6rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', arial, cursive;
}

h2 {
    font-size: 2.4rem;
}

p{
    font-size: 1.8rem;
    text-align: justify;

}
.boxes {
    /*height: calc(100vh - (7*2rem));*/
    height: calc(100vh);
    position: relative;

    display: flex;
    /* flex-direction: column; 
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-items: center; */
    align-content: center;
    gap: 0.5rem 0.5rem;
}
.box {
    min-height: 10rem;
    min-width: 20rem;
    padding: 1.5rem;
    border: 10px solid red;
    border-radius: 0.4rem;
    background-color: blue;
    color: #ffff;
    font-size: 4rem;
    display: inline-block;
    order: 10;
    /* flex-basis: calc(30% - 5rem); */
    
}

.box:nth-child(1) {
    order: 1;
}
.box:nth-child(2) {
    order: 2;
}
.box:nth-child(7) {
    order: 4;
}